# Runtime 
fastapi==0.111.0
uvicorn[standard]==0.30.1
pydantic==2.7.1
pydantic-settings==2.3.0

#Database
asyncpg==0.29.0
alembic==1.13.1

# Crawler
httpx==0.27.0
beautifulsoup4==4.12.3
lxml==5.2.2

#Testing
pytest==8.2.2
pytest-asyncio==0.23.7
anyio==4.4.0
aiosqlite==0.20.0

#Code quality
ruff==0.4.7
mypy==1.10.0